sudo: false
language: node_js

node_js:
  - "4"
  - "6"
  - "node"

cache:
  directories:
    - node_modules
    - $HOME/.npm

after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
