sudo: false
language: node_js

node_js:
  - "6"
  - "lts/*"
  - "node"

cache:
  directories:
    - node_modules
    - $HOME/.npm

script: "npm run test-ci"

after_script: "npm install coveralls@2 && cat ./coverage/lcov.info | coveralls"
